azure-functions
azure-servicebus
pandas
pytz
requests
beautifulsoup4
playwright
thefuzz[speedup]
RapidFuzz
SQLAlchemy
psycopg2-binary
bcrypt
python-jose[cryptography]
openpyxl
xlsxwriter
python-dotenv
fastapi
uvicorn[standard]
pydantic
python-multipart
opentelemetry-distro
opentelemetry-instrumentation-fastapi
